<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head> 
<body class="bg-black">
    <div class="w-full hmin-h-screen bg-zinc-900 text-white p-10">
        <div class="w-full flex justify-end">
            <a class="bg-red-500 rounded-md px-3 py-2 text-sm mb-5 inline-block" href="/logout">Logout</a>  
        </div>
        <h3 class="text-3xl mb-5"><span class="font-light" >Hello! </span><%=user.name%></h3>
        <h5>You can create a Post</h5>
        <form method="post" action="post">
            <textarea placeholder="what on your mind ?" class="block p-3 w-1/3 outline-none bg-transparent border-2 border-zinc-800 rounded-md" name=""></textarea>
            <input class="px-3 w-40 py-2 text-sm bg-blue-500 rounded-md mt-2" type="submit" value="Create new post">
        </form>

      <div class="post mt-20">
        <h3 class="text-zinc-400 ">Your Posts</h3>
        <div class="postcontainer mt-1">
            <div class="post w-1/3 p-4 mb-2 rounded-md border-zinc-700 bg-zinc-800">
                <h4 class="text-blue-500">@someusername</h4>
                <p class="text-sm tracking-tight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam a, necessitatibus,
                   ea modi molestiae esse rem quam sed est possimus quidem, nemo ipsam! Reprehenderit,
                   maxime itaque fugiat vel repellendus aut.</p>
                <div class="btns flex gap-3 mt-3">
                    <a class="text-blue-500" href="">Like</a>
                    <a class="text-blue-600" href="">edit</a>
                </div>
            </div>
            <div class="post w-1/3 p-4 mb-2 rounded-md border-zinc-700 bg-zinc-800">
                <h4 class="text-blue-500">@someusername</h4>
                <p class="text-sm tracking-tight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam a, necessitatibus,
                   ea modi molestiae esse rem quam sed est possimus quidem, nemo ipsam! Reprehenderit,
                   maxime itaque fugiat vel repellendus aut.</p>
                <div class="btns flex gap-3 mt-3">
                    <a class="text-blue-500" href="">Like</a>
                    <a class="text-blue-600" href="">edit</a>
                </div>
            </div>
           
        </div>
        

       
      </div>

    </div>
</body>
</html>